<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="ion-text-center ion-padding">Credit Union</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="ion-padding">
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-buttons class="ion-padding ion-justify-content-center">
            <ion-button color="primary" fill="outline" (click)="onLogin()"
              >signin</ion-button
            >
          </ion-buttons>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
